body {
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif !important;
}

.video-bg-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .video-bg {
      width: 100%;
      height: auto;
    }
}
  
@media (max-aspect-ratio: 16/9) {
    .video-bg {
      width: auto;
      height: 100%;
    }
}


.center-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 1);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -10px;
    left: -35px;
}


.active-icon {
    background-color: #d23e00 !important;
    height: 50px !important;
    width: 50px !important;
    left: -40px !important;
    font-size: 20px;
    top: -35px !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bg-history {
    background-color: rgba(0, 0, 0, 0.3);
    border-left-color: white;
    border-left-width: 1px;
    border-style: none none none solid;
    margin-top: 10vh;
}

.book-bottom {
    top: 95.5%;
    left: 0;
    width: 100%;
}


.book-bottom-left {
    width: 50%;
    height: 15px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-color: white;
    border-radius: 0px 30px 0px 0px;
    border-style: solid solid none none ;
}
.book-bottom-right {
    width: 50%;
    height: 15px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    border-color: white;
    border-radius: 30px 0px 0px 0px;
    border-style: solid none none solid ;
}

.progress-text {
    font-size: 14px ;
    margin-bottom: 1px;
}

.bottom-text {
    font-size: 16px ;
}

.step-details-container {
    bottom: 100%;
    width: 100%;
}

.step-details {
    background-color: rgba(0, 0, 0, 0.3);   
    border-bottom-color: #ff3bdf;
    border-style: none none solid none;
    border-width: 1px;
}

.title-text {
    font-size: 20px;;
}

.margin-header {
    margin-top: 2%;
    padding-left: 1rem;
}

.margin-optins {
    margin-right: 0.20rem;
}

.padding-footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0px;
}

.margin-progress {
    margin-bottom: 1.0rem;
}

.fa-lg {
    font-size: 14px;
}

.optins-text {
    font-size: 14px;
}

.margin-text-optins {
    margin-bottom: 2.5rem;
}
.padding-optins {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 780px) {
    .progress-text {
        font-size: 10px ;
    }

    .bottom-text {
        font-size: 12px ;
    }

    .step-details-container {
        height: 30vh;
        width: 100%;
    }

    .bg-history {
        max-height: 25vh;
        margin-right: 0px;
    }

    .fa-lg {
        font-size: 10px;
    }

    .none-display {
        display: none
    }

    .title-text {
        font-size: 16px;;
    }

    .margin-optins {
        margin-right: 0px;
        padding-right: 0px;
    }

    .padding-footer {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 0rem;
    }
    
    .margin-progress {
        margin-bottom: 1rem;
    }


    
    .center-icon {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border-color: white;
        border-width: 2px;
        background-color: rgba(0, 0, 0, 1);
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        top: -0px !important;
        left: -27px;
    }

    .active-icon {
        background-color: #d23e00 !important;
        height: 30px !important;
        width: 30px !important;
        left: -30px !important;
        font-size: 16px;
        top: -20px !important;
    }

    .margin-text-optins {
        margin-bottom: 0.5rem;
    }

    .padding-optins {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    
}


.progress-default {
    height: 5px;
    width: 100%;
    padding-right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.progress-done {
    background-color: #fff;
}

.progress-process {
    background-color: #ff3bdf;
    width: 50% !important;
}

.progress-missing {
    background-color: rgba(0, 0, 0, 0.3);
    width: 50% !important;
}

.gradient-top {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.01));
    position: absolute;
    width: 100vw;
    height: 15vh;
}

.gradient-bottom {
    background-image: linear-gradient(rgba(0,0,0,0.01), #000);
}

.bottom-controls {
    color: gray;
}

.pop-up-video-bg-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(1px);
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-video {
    height: 70vh;
    width: 70vw;
    z-index: -100;
    position: absolute;
}
